/*-----HEADER-----*/

header {
    display: flex;
    justify-content: space-between;
    background-color: nth($colour-palette , 5 );
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px 20px 5px 20px;
    .navbar {
        width: 100%;
        .container-fluid {
            .navbar-brand {
                img {
                    width: 100px;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .navbar-collapse {
                flex-grow: initial;
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: nth($text-colour , 2 );
                            font-size: nth($font-size , 9 );
                            transition: 300ms ease-in;
                            &:hover {
                                color: nth($text-colour , 3 );
                                text-decoration: underline;
                                text-underline-position: under;
                            }
                        }
                    }
                }
            }
        }
    }

}